<div class="home-img">
  <div class="home-titles">
    <h1 id="main-title">Papers</h1>
    <h2 id="second-title">Partagez les meilleurs articles du web</h2>
    <div class="">
      <% if user_signed_in? %>
      <%= link_to "Consulter tous les articles", posts_path, class: "btn btn-flat" %>
      <button type="button" class="btn btn-flat" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Ajouter un article
      </button>
      <% else %>
      <%= link_to "Connexion ou inscription", new_user_session_path, class: "btn btn-flat" %>
      <% end %>

    <!-- Modal - Create post -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <%= render "posts/form", post: Post.new %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="astro-image">
    <%= image_tag "astro.png", class:"home-img" %>
  </div>
</div>
