<div class="p-3 booking-form" data-controller="validate-url">
  <%= simple_form_for [post], data: {validate_url_target: "form", action: "input->validate-url#check"} do |f| %>
    <%= f.input :url,
                label: false,
                required: true,
                placeholder: 'Ajouter l\'url de votre article ici.',
                hint: 'Attention, seuls les articles du site https://www.socialter.fr/ sont pris en charge.',
                as: :text,

                autofocus: true,
                :input_html => {:style => 'width: 100%', :rows => 3, class: 'form-control', required:true} %>
    <%= f.submit "Publier", class: "btn btn-flat d-none", data: { validate_url_target: "button" }%>
  <% end %>

</div>
