.btn-flat {
  color: white;
  padding: 8px 24px;
  margin: 20px 0;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
  width: 100%;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

@media (min-width: 768px) {
  .btn-flat {
    width: auto;
  }
}
